/*#content{background:url(../images/bg.jpg);width:100%;height:100%;margin-top:0;}*/
*{margin:0;padding:0;}
.show{display:inline;float:left;}
.hide{display:none;}
.left{float:left;}
.right{float:right;}
body{background:url(../images/bg.jpg) fixed center center no-repeat;
 background-size: cover;width:100%;height:100%;font-family:微软雅黑;}
*{margin:0;padding:0;}
#content{height:100%;}
#login{width:442px;background:#fff;margin:0 auto;height:440px;margin-top:36px;border-radius:10px;box-shadow:0 3px 24px rgba(0,0,0,.5);}
#logo{display:block;width:395px;margin:0 auto;margin-top:210px;height:80px;}
#login p{color:#4a4a4a;font-size:24px;width:100%;text-align:center;padding:21px 0 24px;}
.tip{height:50px;width:320px;background:#eee;margin:0 auto;margin-bottom:20px;border-radius:30px;padding-top:10px;box-sizing:border-box;
}
.tip img{margin-left:20px;height:21px;float:left;margin-top:4px;}
.tip input{background:#eee;height:30px;line-height:30px;width:230px;font-size:14px;color:#ababab;vertical-align:middle;float:left;padding: 0 10px;font-family:微软雅黑;outline:0px;border:0;}
/*input框聚焦时,.tip边框阴影效果*/
.tip-focus{  border-color: #d82a2a;
  outline: 0;
  -webkit-box-shadow: inset 0 0 1px rgba(255, 8, 12, 0.5), 0 0 2px rgba(216, 42, 42, 1);
          box-shadow: inset 0 0 1px rgba(255, 8, 12, 0.5), 0 0 2px rgba(216, 42,42, 1);}
#randCode{width:200px;margin-left:61.5px;float:left;}
#randCode input{width:110px;}
#rand{height:50px;margin-right:6px;}
#rand p{font-size:14px;color:#515151;width:100px;cursor:pointer;}
#randCodeIamge{margin-right:61.5px;}
#loginBtn{display:block;border:none;outline:none;height:50px;width:320px;background:#d82a2a;margin:0 auto;margin-bottom:20px;border-radius:30px;color:#fff;box-shadow:0 5px 13px rgba(216,42,42,.5);cursor:pointer;}
#loginBtn:active {background: #c22424;}
.clearfix{clear:both;}
#loginBtn span{text-align:center;display:block;height:50px;line-height:50px;font-size:18px;}
#rempwd{margin-left:86px;height:20px;display:block;margin-bottom:27px;margin-top:5px;}
#rempwd img{margin-right:12px;height:20px;line-height:20px;cursor:pointer;}
#rempwd span{display:inline-block;font-size:14px;color:#3d3d3d;margin-left:-2px;height:20px;line-height:20px;}
#copyright span{font-size:12px;color:#9f9f9f;margin:0 auto;display:block;width:533px;margin-top:130px;}
#rempwd .notice{font-size:14px;color:#d82a2a;margin-right:61px;height:20px;line-height:20px;}
