<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置文件加载 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="utf-8"/>
        <property name="locations">
            <list>
                <value>classpath*:hibernate-cfg.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置国际化的资源 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="fileEncodings" value="utf-8"/>
        <property name="cacheSeconds" value="120"/>
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
                <value>classpath:security-messages</value>
                <value>classpath:command-messages</value>
                <value>classpath:exception-messages</value>
            </list>
        </property>
    </bean>

    <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg name="messageSource" ref="messageSource"/>
        <constructor-arg name="defaultLocale">
            <bean class="java.util.Locale" factory-method="getDefault"/>
        </constructor-arg>
    </bean>

    <!-- 包扫描,使用filter避免包扫描冲动 -->
    <context:component-scan base-package="cn.cloudwalk.ebank">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="spring-security.xml"/>
    <import resource="spring-hibernate.xml"/>

</beans>